In [33]:
# Imports for all modules needed.
import sys
import pandas as pd
sys.path.append('../DataGeneration')
from license_data_generator import License, Corrupt, Validate

In [34]:
# Testing the output of generate_dataset().
test_dataset = License.generate_dataset(5)
test_dataset.head()

,First Name,Last Name,Date of Birth,Place of Birth,Gender,Date of Issue,Date of Expiry,Issuing Authority,License Number,Address
0,Adam,White,24.02.1965,Somalia,Male,10.09.2017,08.09.2027,DA1,WHITE602245A99YM,"240 Harriet fork, West Jenniferview, L23 0DJ"
1,Julie,Houghton,29.01.1997,Albania,Male,04.09.2016,02.09.2026,DA1,HOUGH901297J99JX,"501 Miah well, Debrafort, L6T 0HX"
2,Yvonne,Burgess,16.10.2004,Cameroon,Female,05.01.2023,02.01.2033,DA1,BURGE060164Y99ID,"670 Roger mountains, New Paulineshire, TD2W 9JP"
3,Dennis,Williams,28.02.1960,Bahamas,Male,24.10.2022,21.10.2032,DA1,WILLI602280D99TJ,"256 Linda corners, Smithbury, WS06 6WG"
4,Patrick,Stokes,28.05.1988,Jordan,Female,06.07.2023,03.07.2033,DA1,STOKE855288P99SK,"681 Marcus burg, Manningtown, S0G 2ZF"

In [35]:
# Testing the Corruption functions by corrupting the test dataset from above.
corrupted_test_dataset = Corrupt.introduce_corruptions(test_dataset, 0.2)
corrupted_test_dataset.head()

,First Name,Last Name,Date of Birth,Place of Birth,Gender,Date of Issue,Date of Expiry,Issuing Authority,License Number,Address
0,Adam,W-ite,24/02/1965,"So,alia",Saepe,10.09.2017,08.09.2027,CJ,WHITE602245A99YM6N,"240 Harriet fork, West Jenniferview"
1,"Ju*""e",Houghton,29.01.1997,Alb2n9a,Male,04.09.2016,02.09.2026,DA1,HOUGH901297J99JX,"501 Miah well, Debrafort, L6T 0HX"
2,[v;nn_,"5u,ges~",16.10.2004,Cameroon,Female,01.05.2023,02.01.2033,DA1,BURGE060164Y99ID,"670 Roger mountains, New Paulineshire, TD2W 9JP"
3,Denn1s,Williams,28.02.1960,Bahama1,Male,24/10/2022,21.10.2032,DA1,WILLI602280D99TJ,"256 Linda corners, Smithbury, WS06 6WG"
4,P9tri#&,8t60es,28/05/1988,"J)r""an",Female,06.07.2023,03.07.2033,2,STOKE855288P99SK,"681 Marcus burg, Manningtown, S0G 2ZF"

In [36]:
# Testing the Validation functions by validating the corrupted data from above. 
validated_test_dataset = Validate.validate(corrupted_test_dataset)
validated_test_dataset.head()

,First Name,First Name Corruption,Last Name,Last Name Corruption,Date of Birth,Date of Birth Corruption,Place of Birth,Place of Birth Corruption,Gender,Gender Corruption,Date of Issue,Date of Issue Corruption,Date of Expiry,Date of Expiry Corruption,Issuing Authority,Issuing Authority Corruption,License Number,License Number Corruption,Address,Address Corruption
0,Adam,0,W-ite,1,24/02/1965,1,"So,alia",1,Saepe,1,10.09.2017,1,08.09.2027,0,CJ,1,WHITE602245A99YM6N,1,"240 Harriet fork, West Jenniferview",1
1,"Ju*""e",1,Houghton,0,29.01.1997,0,Alb2n9a,1,Male,0,04.09.2016,0,02.09.2026,0,DA1,0,HOUGH901297J99JX,0,"501 Miah well, Debrafort, L6T 0HX",0
2,[v;nn_,1,"5u,ges~",1,16.10.2004,0,Cameroon,0,Female,0,01.05.2023,0,02.01.2033,1,DA1,0,BURGE060164Y99ID,1,"670 Roger mountains, New Paulineshire, TD2W 9JP",0
3,Denn1s,1,Williams,0,28.02.1960,0,Bahama1,1,Male,0,24/10/2022,1,21.10.2032,1,DA1,0,WILLI602280D99TJ,0,"256 Linda corners, Smithbury, WS06 6WG",0
4,P9tri#&,1,8t60es,1,28/05/1988,1,"J)r""an",1,Female,0,06.07.2023,1,03.07.2033,0,2,1,STOKE855288P99SK,1,"681 Marcus burg, Manningtown, S0G 2ZF",0