In [1]:
# Imports for all modules needed.
import sys
import pandas as pd
sys.path.append('../DataGeneration')
from license_data_generator import License, Corrupt, Validate, Stats

In [2]:
# Testing the output of generate_dataset().
test_dataset = License.generate_dataset(10)
test_dataset.head()

,First Name,Last Name,Date of Birth,Place of Birth,Gender,Date of Issue,Date of Expiry,Issuing Authority,License Number,Address
0,Zoe,Harrison,26.08.2006,Bahrain,Male,24.09.2023,21.09.2033,DA1,HARRI008266Z99MC,"923 Hooper point, Robertshaven, LD5N 0EJ"
1,Roy,Jones,10.11.1994,Mali,Female,04.06.2013,02.06.2023,DA1,JONES961104R99GN,"820 Douglas drive, Brownland, G34 9QT"
2,Catherine,Mason,03.08.1990,France,Male,29.09.2008,27.09.2018,DA1,MASON908030C99GF,"205 Elaine passage, Ronaldberg, M7 6AJ"
3,Colin,Howarth,24.10.1973,Gabon,Male,13.08.2012,11.08.2022,DA1,HOWAR710243C99NR,"964 Chan lights, East Adam, N95 1TL"
4,Natalie,Simpson,31.08.1992,Cocos (Keeling) Islands,Male,18.10.2010,15.10.2020,DA1,SIMPS908312N99XC,"882 Jackson bridge, North Grahamfort, PR73 1LZ"

In [3]:
# Testing the Corruption functions by corrupting the test dataset from above.
corrupted_test_dataset = Corrupt.introduce_corruptions(test_dataset, 0)
corrupted_test_dataset.head()

,First Name,Last Name,Date of Birth,Place of Birth,Gender,Date of Issue,Date of Expiry,Issuing Authority,License Number,Address
0,Zoe,Harrison,26.08.2006,Bahrain,Male,24.09.2023,21.09.2033,DA1,HARRI008266Z99MC,"923 Hooper point, Robertshaven, LD5N 0EJ"
1,Roy,Jones,10.11.1994,Mali,Female,04.06.2013,02.06.2023,DA1,JONES961104R99GN,"820 Douglas drive, Brownland, G34 9QT"
2,Catherine,Mason,03.08.1990,France,Male,29.09.2008,27.09.2018,DA1,MASON908030C99GF,"205 Elaine passage, Ronaldberg, M7 6AJ"
3,Colin,Howarth,24.10.1973,Gabon,Male,13.08.2012,11.08.2022,DA1,HOWAR710243C99NR,"964 Chan lights, East Adam, N95 1TL"
4,Natalie,Simpson,31.08.1992,Cocos (Keeling) Islands,Male,18.10.2010,15.10.2020,DA1,SIMPS908312N99XC,"882 Jackson bridge, North Grahamfort, PR73 1LZ"

In [4]:
# Testing the Validation functions by validating the corrupted data from above. 
validated_test_dataset = Validate.validate(corrupted_test_dataset)
validated_test_dataset.head()

,First Name,First Name Corruption,Last Name,Last Name Corruption,Date of Birth,Date of Birth Corruption,Place of Birth,Place of Birth Corruption,Gender,Gender Corruption,Date of Issue,Date of Issue Corruption,Date of Expiry,Date of Expiry Corruption,Issuing Authority,Issuing Authority Corruption,License Number,License Number Corruption,Address,Address Corruption
0,Zoe,0,Harrison,0,26.08.2006,0,Bahrain,0,Male,0,24.09.2023,0,21.09.2033,0,DA1,0,HARRI008266Z99MC,0,"923 Hooper point, Robertshaven, LD5N 0EJ",0
1,Roy,0,Jones,0,10.11.1994,0,Mali,0,Female,0,04.06.2013,0,02.06.2023,0,DA1,0,JONES961104R99GN,0,"820 Douglas drive, Brownland, G34 9QT",0
2,Catherine,0,Mason,0,03.08.1990,0,France,0,Male,0,29.09.2008,0,27.09.2018,0,DA1,0,MASON908030C99GF,0,"205 Elaine passage, Ronaldberg, M7 6AJ",0
3,Colin,0,Howarth,0,24.10.1973,0,Gabon,0,Male,0,13.08.2012,0,11.08.2022,0,DA1,0,HOWAR710243C99NR,0,"964 Chan lights, East Adam, N95 1TL",0
4,Natalie,0,Simpson,0,31.08.1992,0,Cocos (Keeling) Islands,1,Male,0,18.10.2010,0,15.10.2020,0,DA1,0,SIMPS908312N99XC,0,"882 Jackson bridge, North Grahamfort, PR73 1LZ",0

In [5]:
# Checking the Stats functions.
corrupt = Stats.is_corrupt(validated_test_dataset)
corrupt

1

In [6]:
# Checking the Stats functions.
corrupt_percentage = Stats.corrupt_percent(validated_test_dataset)
corrupt_percentage

0.01

In [7]:
# Checking the Stats functions.
corrupt_attributes = Stats.attribute_corruption(validated_test_dataset)
corrupt_attributes

{'First Name': 0,
 'Last Name': 0,
 'Date of Birth': 0,
 'Place of Birth': 1,
 'Gender': 0,
 'Date of Issue': 0,
 'Date of Expiry': 0,
 'Issuing Authority': 0,
 'License Number': 0,
 'Address': 0}